*{
    font-family: "Times New Roman", Times, serif;
}

.navbar-brand img{
    width: 150px;
}

.single-color{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

section.container{
    margin-top: 100px;
}

.dark-grey{
    background-color: #242424;
}
.red{
    background-color:darkred;
}
.light{
    background-color:azure;
}
.grey{
    background-color: grey;
}

#images img{
    width: 100%;
}

@media (max-width: 576px){
    .col-xs-4{
        flex: 0 0 auto;
        width: 33.33%;
    }
}

@media (min-width: 576px){
    .nav-content, .nav-content-sm {
        max-width: 540px;
    }
}
@media (min-width: 768px){
    .nav-content, .nav-content-md, .nav-content-sm {
        max-width: 720px;
    }
}
@media (min-width: 992px){
    .nav-content, .nav-content-lg, .nav-content-md, .nav-content-sm {
        max-width: 960px;
    }
}
@media (min-width: 1200px){
    .nav-content, .nav-content-lg, .nav-content-md, .nav-content-sm, .nav-content-xl {
        max-width: 1140px;
    }
}
@media (min-width: 1400px){
    .nav-content, .nav-content-lg, .nav-content-md, .nav-content-sm, .nav-content-xl, .nav-content-xxl {
        max-width: 1320px;
    }
}

